
.footerbg{
	background:url(images/footer_bg.png) repeat;
	-webkit-background-size:100% 100%; 
}

.headerbg{
	background:url(images/top_bg.png) repeat;
	-webkit-background-size:100% 100%; 
}

.forumList{
	background-clip: padding-box;
    border-radius: 0.5em 0.5em 0.5em 0.5em;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
	background-color: #FFFFFF;
    border: 1px solid #B1B1B1;
    margin: 0.2em 0.2em;
    overflow: hidden;
    padding: 0.625em;
    position: relative;
}

.title{
	color:#fab;
    font-family: "Helvetica",Helvetica,Geneva,Arial,sans-serif;
    font-size: 1.0em;
    font-weight: bold;
}
.title1{
	color:#000;
    font-family: "Helvetica",Helvetica,Geneva,Arial,sans-serif;
    font-size: 1.0em;
    font-weight: bold;
	overflow:hidden;
}

.desc{
	color: #666666;
    font-size: 0.9em;
    line-height: 1.5em;
    margin-top: 0.5em;
}

.otherInfo{
	color: #999999;
    font-size: 0.7em;
    line-height: 1.2em;
    margin-top: 0.2em;
	width:100%;
	border-bottom:1px dotted #ddd;
}

.otherInfo span{
	width:100%;
	display:inline-block;
	color: #999999;
	margin-bottom:0.2em;
}

.footer{
	font-size:1em;
	text-align:center;
}
.footer button{
	height:2.5em;
	border:1px solid #eaeaea;
	width:90%;
	margin-top:0.625em;
	margin-bottom:0.625em;
	line-height:1.25em;
	-webkit-background-size:100% 100%;
}

.buttonBg{
	background:url(images/button.png) repeat-x;
}

.buttonBg-mousedown{
	background:url(images/button2.png) repeat-x;
}

#forum_list{
	min-height:20em;
}
*{font-family:"黑体";}

#user_box{width:100%; height:12.5em; background:#fff; border-radius:0.5em; border:#D3D3D3 solid 1px; margin:0.5em 0 1em 0; padding-top:5px;}
#user{width:100%; height:3.75em; background:#fff; border-bottom:#D3D3D3 solid 1px;}
#user_pic{width:3.125em; height:3.125em; background:#fab; margin:0.3125em; float:left;}
#user_name{width:12.5em;; height:3.125em; background:#D3D3D3; margin:0.3125em; float:left; line-height:3.125em;}
#user_info{width:100%; height:2.5em; background:#fff; border-bottom:#D3D3D3 solid 1px;}
#user_age,#user_sex,#user_area{width:5.625em; height:1.875em; background:#D3D3D3; margin:0.3125em; float:left; line-height:1.875em;}
#user_sign{width:97%; height:5em; background:#D3D3D3; margin:0.3125em; float:left; }
.login_out{float:right; margin-top:0.3125em;}
